.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2em;
    width : 2.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}
 
.toggle-button__line {
    width: 2.5em;
    height: 2px;
    background : black;
}