@import "./base/variables";

@mixin title {
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-page {
  background-color: #efefef;
  height: 100%;
  display: flex;
  flex-direction: row;

  @media (max-width: $mobileMax) {
    flex-wrap: wrap;
  }

  .home__pop-redirect,
  .home__life-redirect,
  .home__fert-redirect {
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;

    @media (max-width: $mobileMax) {
      height: calc(100% / 3);
      width: 100%;
    }

    h1 {
      font-size: 4rem;

      @media (min-width: $tabletsMax) and (max-width: 1600px) {
        font-size: 3rem;
      }
      @media (min-width: $tabletMobilesLandscapeMax) and (max-width: 1280px) {
        font-size: 2.5rem;
      }
      @media (min-width: $tabletsMobileLandscapeMin) and (max-width: 1024px) {
        font-size: 2rem;
      }
      @media (max-width: $mobileMax) {
        font-size: 2rem;
      }
    }
  }

  .home__pop-redirect {
    -webkit-transition: background 1000ms ease-in;
    -ms-transition: background 1000ms ease-in;
    transition: background 1000ms ease-in;

    h1 {
      @include title;
      background-image: url("../img/population.jpg");
    }
    &:hover {
      background-image: url("../img/population.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      h1 {
        background-origin: none;
        -webkit-text-fill-color: #efefef;
      }
    }
  }

  .home__life-redirect {
    -webkit-transition: background 1000ms ease-in;
    -ms-transition: background 1000ms ease-in;
    transition: background 1000ms ease-in;

    h1 {
      @include title;
      background-image: url("../img/life.jpg");
    }
    &:hover {
      background-image: url("../img/life.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      h1 {
        background-origin: none;
        -webkit-text-fill-color: #efefef;
      }
    }
  }
  .home__fert-redirect {
    -webkit-transition: background 1000ms ease-in;
    -ms-transition: background 1000ms ease-in;
    transition: background 1000ms ease-in;

    h1 {
      @include title;
      background-image: url("../img/fert.jpeg");
    }
    &:hover {
      background-image: url("../img/fert.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      h1 {
        background-origin: none;
        -webkit-text-fill-color: #efefef;
      }
    }
  }
}
