.router-page {
  background-color: #efefef;
  height: 100%;

  .router-page__header {
    text-align: center;
    height: 20%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

    h1 {
      margin: 0;
      padding-top: 1rem;
      font-size: 4rem;
      font-weight: 200;
      color: #5c8693;

      @media (max-width: 768px), (max-height: 768px) {
        font-size: 3rem;
      }
      @media (max-width: 400px), (max-height: 400px) {
        font-size: 2rem;
      }
    }
    .router-page__geo-choice {
      margin-top: 1rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;

      span {
        color: #ff3b3f;
        font-size: 2rem;
        @media (max-width: 768px), (max-height: 768px) {
          font-size: 1.5rem;
        }
      }

      .geo-choice__select {
        margin-left: 2em;
        background-color: white;
        border: thin solid #757575;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, white 50%),
          linear-gradient(135deg, white 50%, transparent 50%),
          linear-gradient(to right, #5c8693, #5c8693);
        background-position: calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px), 100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;

        @media (max-width: 768px), (max-height: 768px) {
          line-height: 1.3em;
        }

        &:focus {
          background-image: linear-gradient(45deg, white 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, white 50%),
            linear-gradient(to right, gray, gray);
          background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
            100% 0;
          background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
          background-repeat: no-repeat;
          border-color: grey;
          outline: 0;
        }
      }
    }
  }

  .router-page__break {
    height: 1px;
    margin-top: 1%;
    background: #5c8693;
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      from(white),
      to(white),
      color-stop(50%, #5c8693)
    );
  }

  .router-page__content {
    height: 78%;
    width: 100%;

    .router-page__loader {
      height: 100%;
      width: 100%;

      div:first-child {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
