.world-content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  /*grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(12, 1fr);*/

  @media (max-width: 768px), (max-height: 768px) {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    background-color: #efefef;
    flex-wrap: wrap;
    height: 200%;
    margin-top: 5%;
  }

  .content__top-ten {
    /*grid-column: 2 / span 3;
    grid-row: 3 / span 7;*/
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    overflow: hidden;
    height: 80%;
    width: 20%;
    margin-top: 3%;

    @media (max-width: 768px), (max-height: 768px) {
      width: 80%;
      margin: 0 auto;
      height: 30%;
    }
  }
  .content__graph {
    /*grid-column: 6 / span 6;
    grid-row: 2 / span 9;*/
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    height: 80%;
    width: 40%;
    margin-top: 3%;
    @media (max-width: 768px), (max-height: 768px) {
      width: 80%;
      margin: 0 auto;
      height: 30%;
    }
    div:first-child {
      height: 80%;
    }
  }
  .content__last-ten {
    /*grid-column: 13 / span 3;
    grid-row: 3 / span 9;*/
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    height: 80%;
    width: 20%;
    margin-top: 3%;
    text-align: center;
    @media (max-width: 768px), (max-height: 768px) {
      width: 80%;
      margin: 0 auto;
      height: 30%;
    }

    canvas {
      height: 80% !important;
    }
  }
}
