.world-content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;

  @media (max-width: 768px), (max-height: 768px) {
    background-color: #efefef;
    flex-wrap: wrap;
    height: 200%;
    margin-top: 5%;
  }

  .content__top-ten {
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    overflow: hidden;
    height: 80%;
    width: 20%;
    margin-top: 3%;

    @media (max-width: 768px), (max-height: 768px) {
      width: 80%;
      margin: 0 auto;
      height: 30%;
    }
  }
  .content__graph {
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    height: 80%;
    width: 40%;
    margin-top: 3%;
    @media (max-width: 768px), (max-height: 768px) {
      width: 80%;
      margin: 0 auto;
      height: 30%;
    }
    div:first-child {
      height: 80%;
    }
  }
  .content__last-ten {
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    height: 80%;
    width: 20%;
    margin-top: 3%;
    text-align: center;
    @media (max-width: 768px), (max-height: 768px) {
      width: 80%;
      margin: 0 auto;
      height: 30%;
    }

    canvas {
      height: 80% !important;
    }
  }
}

.region-content {
  @extend .world-content;

  @media (max-width: 768px), (max-height: 768px) {
    background-color: #efefef;
    flex-wrap: wrap;
    height: 120%;
    margin-top: 5%;
  }

  .content__pie {
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    height: 80%;
    width: 40%;
    margin-top: 3%;
    @media (max-width: 768px), (max-height: 768px) {
      width: 80%;
      margin: 0 auto;
      height: 45%;
    }
    div:first-child {
      height: 70%;
    }
  }

  .content__bar {
    @extend .content__pie;
    div:first-child {
      height: 100%;
    }
  }
}